name: Build and Deploy to GitHub Container Registry

on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    name: Build and push ghcr image
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      - name: Read GitHub webhook event file
        run: |
          cat $GITHUB_EVENT_PATH > event.json

      - name: Sign and send webhook event
        run: |
          signature=$(openssl dgst -sha256 -hmac "${{ secrets.KOMODO_PRODUCTION_WEBHOOK_SECRET }}" $GITHUB_EVENT_PATH | sed 's/^.* //')

          curl -X POST ${{ secrets.KOMODO_PRODUCTION_WEBHOOK_URL }} \
            -H "Content-Type: application/json" \
            -H "X-GitHub-Event: push" \
            -H "X-GitHub-Delivery: $(uuidgen)" \
            -H "X-Hub-Signature-256: sha256=$signature" \
            -H "User-Agent: GitHub-Hookshot/${{ github.run_id }}" \
            --data-binary "@$GITHUB_EVENT_PATH"
